.output-container {
  border: black outset;

  padding: 10px;
  font-weight: bold;
  color: rgb(255, 247, 88);
  width: 120px;
  height: 30px auto;
  margin: 15px auto;
}

.main-container {
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 70px;
}

input {
  width: 250px;
  height: 30px;
  border-style: groove;
  font-size: large;
}

h3 {
  color: rgb(224, 51, 51);
}
h1 {
  color: rgb(235, 208, 0);
}


body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: rgb(0, 71, 114);
}


button {width: auto;
  height: auto;
padding: 10px;}

img {width: 500px; height:400px;}
